/nbproject/private/
/dist/
/KhanzaAntrianApotek/build/
/KhanzaAntrianApotek/dist/
/KhanzaAntrianApotek/nbproject/private/
/KhanzaAntrianLoket/build/
/KhanzaAntrianLoket/dist/
/KhanzaAntrianLoket/nbproject/private/
/KhanzaAntrianPoli/build/
/KhanzaAntrianPoli/dist/
/KhanzaAntrianPoli/nbproject/private/
/KhanzaHMSAnjungan/build/
/KhanzaHMSAnjungan/dist/
/KhanzaHMSAnjungan/nbproject/private/
/KhanzaHMSAnjunganFingerPrint/build/
/KhanzaHMSAnjunganFingerPrint/dist/
/KhanzaHMSAnjunganFingerPrint/nbproject/private/
/KhanzaHMSAutoVerify/build/
/KhanzaHMSAutoVerify/dist/
/KhanzaHMSAutoVerify/nbproject/private/
/KhanzaHMSAutoVerify2/build/
/KhanzaHMSAutoVerify2/dist/
/KhanzaHMSAutoVerify2/nbproject/private/
/KhanzaHMSResume/build/
/KhanzaHMSResume/dist/
/KhanzaHMSResume/nbproject/private/
/KhanzaHMSServiceAplicare/build/
/KhanzaHMSServiceAplicare/dist/
/KhanzaHMSServiceAplicare/nbproject/private/
/KhanzaHMSServiceSIRSYankes/build/
/KhanzaHMSServiceSIRSYankes/dist/
/KhanzaHMSServiceSIRSYankes/nbproject/private/
/KhanzaPengenkripsiTeks/build/
/KhanzaPengenkripsiTeks/dist/
/KhanzaPengenkripsiTeks/nbproject/private/
/KhanzaSecurity16bit/build/
/KhanzaSecurity16bit/dist/
/KhanzaSecurity16bit/nbproject/private/
/KhanzaUpdater/build/
/KhanzaUpdater/dist/
/KhanzaUpdater/nbproject/private/